body {
    background-color: pink;
}
h1 {
    color: green;
}

body {
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

#header {
    background-color: #009688;
    color: white;
    padding: 10px;
    text-align: center;
}

#sidebar {
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#content {
    margin-top: 30px;
    text-align: center;
}

.team-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.team-item a {
    color: #009688;
    text-decoration: none;
}

.team-item a:hover {
    text-decoration: underline;
}

.team-item p {
    font-size: 18px;
    color: #555;
}

hr {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
